.header{
    margin: 1rem ;
}
.info{
    margin: 3rem;
}
.formContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

}
.form-group{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 2rem;
}
.form-group label{}