.eachTx{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.eachTx div{
    min-width: 100px;
    text-align: center;
}
.txContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 2rem;
    padding:auto;
margin: auto;
}
.hidden{display: none;}