.eachTx{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.eachTx div{
    min-width: 100px;
    text-align: center;
}
.txContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 2rem;
    padding:auto;
margin: auto;
}
.hidden{display: none;}

.header{
    margin: 1rem ;
}
.info{
    margin: 3rem;
}
.flex{
    display: flex;
    gap: 1rem;
    align-items: center;
    /* margin: 1rem; */
    /* padding: 1rem; */
}
.flex label{margin-left: 3rem;}
.flex button{margin-left: 3rem;}
.table{
    margin: 1rem;
}